{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "document": true,
    "window": true,
    "TouchEvent": true,
    "Set": true,
    "Map": true,
    "DataView": true,
    "Float32Array": true,
    "Uint8Array": true
  },
  "rules": {
    "no-unused-vars": 0
  }
}
